body, .info{
	background-color:#95A78D;
}
.navbar a, .dropdown .dropbtn, .info, .videos, .about, .show, .title, h6 {
	color:white;
}
.break{
	width:100%;
	height:50px;
}
.slides{
	height:400px;
}
.bottom,.more, .info{
	display:block;
	margin-left: auto;
    margin-right: auto;
	text-align:center;
}
@media screen and (max-width:800px){
	.break{
		height:150px;
	}
}